{% extends "admin/base.html.twig" %}

{% block title %}Modifier le commentaire de {{ comment.user.username }}{% endblock %}

{% block body %}

<h2 class="text-center m-5">{{ 'Modification du commentaire de : ' ~ comment.user.username }}</h2>

{{ form_start(form) }}
    {{ form_rest(form) }}
    <a href="{{ path('comments_select') }}" class="btn btn-info">Annuler</a>
    <button class="btn btn-success">Modifier</button>
{{ form_end(form)}}

{% endblock %}